.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 15px;
}

.block-class{
    height: 203px;
    width: 156px;
}

.image-icon{
    width: 100%;
}

.artists{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    color: rgb(62, 62, 62);
}

.image-icon, .artists{
    cursor: pointer;
}

.Followers{
    text-align: center;
    color: rgb(62, 62, 62);
    font-size: 14px;
    margin-top: 2px;
}

@media (max-width: 980px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .block-class {
        height: 300px;
        width: 258px;
    }
}

@media (max-width: 740px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }

    .block-class {
        height: 300px;
        width: 258px;
    }
}