p{
    color: rgb(130, 141, 168);
    font-size: 13px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    margin-bottom: 18px;
}

td{
    padding-bottom: 10px;
    font-weight: 600;
    color: rgb(62, 62, 62);
}

td:hover{
    cursor: pointer;
}

.new-playlist{
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(43, 197, 180);
    color: rgb(43, 197, 180);
    font-size: 15px;
    font-weight: 500;
}